secrets.json
*.key
*.pem
*.crt
*.pfx
*.cer
*.env
*.config
*.log
*.trace
*.csv
*.pid
*.stackdump
logs/
debug.log
crash.log
*.nupkg
*.snupkg
.nuget/packages/
.nuget/NuGet.Config
NuGet.Config
*.deps.json
*.props
*.targets

**/build/
**/dist/
**/publish/
**/TestResults/

bin/
obj/
out/
*.exe
*.dll
*.pdb
*.log
*.cache
*.user
*.vs/
*.suo
*.userosscache
*.rsuser
*.ide/
project.lock.json
global.json
.vscode/